body {
    background: #18161B;
    color: #282034;
}

.navbar--header {
    color: #5FAEA1;
    font-size: 1.5rem;
}

.navbar--background {
    background: #282034;
}

.add--form {
    background: #5FAEA1;
    padding: 2rem;
    border-radius: 25px;
}

.error {
    color: #b8000a;
}

.btn-outline-primary {
    color: #5FAEA1;
    border-color: #5FAEA1;
}

.btn-outline-primary:hover {
    background: #5FAEA1;
}

.btn-outline-info {
    color: #18161B;
    border-color: #18161B;
}

.btn-outline-info:hover {
    background: #18161B;
}

.dino--card {
    background: #282034;
}

.card--name {
    color: #5FAEA1;
}

.modal--image {
    width: 50%;
}

.card-container--header {
    padding-top: 20px;
}

.kennel--container {
    padding: 81px;
    text-align: center;
    margin-top: 50px;
    color:#282034;
    background: #BBA0CA;
}

.hospital--container {
    padding: 81px;
    text-align: center;
    color:#282034;
    background: #F9DEC9;
}

.graveyard--container {
    padding: 81px;
    margin-bottom: 0px;
    text-align: center;
    color:#282034;
    background: #E09F7D;
}

.bg-warning {
    background: yellow;
}